

.list-group-item{
	position: absolute;
	height: 80px;
}

.book-index .list-group-item{
	margin: auto;
}
.list-group{
	position: relative;
	overflow:hidden; 
	overflow-y:scroll;
}
#Navbar{
	position: relative
}
.pages{
	margin: 5px;
}

/* .scroll{
	position:relative;
	max-height:225px;  /*height to show an exact number of spans  - in this case span is 45px (40 height plus 5 margin as margins collapse) and we are showing 5 spans to start */
	/* float:left;
	width:315px;
	height:225px;
	overflow:hidden;
	overflow-y:auto; */
  
  /* .pagesHome{
	position:absolute;
	
  } */
  /* #pages {
	min-width:500px;
	min-height:500px;
	display:block;
	color:white;
	margin:5px;
  } */
  /* @keyframes scroll {
	  100% { top: -360px; }  top is the number of spans (in this case 8) multiplied by span height (45px as described above) */
.scroll{align-self: center;}
.signbtns{
	margin-top: 100px;
	text-align: center;
}


#SHomeContainer{
	height: 200px;
}

.BookContainer{
	margin-top: 400px;
	text-align: center;
	margin: auto;
}
.comment{

	padding-left: 8px;
	padding-bottom: 1px;
	padding-top: 7px;
	color: black;
	width: 96%;
	border-bottom: 1px solid grey;
	text-align: left;
	
}

.book-index{
	padding: 30px;
	width: 550px;
	
}
.modalContent {
	overflow: scroll;
	background-color: #fefefe;
	margin: 5% auto;
	 /* 15% from the top and centered */
	height: 450px;
	color: black;
	max-width: 800px;
	border: 1px solid #888; 
	/* Could be more or less, depending on screen size */
}
.commentSection{

	margin-top: 5px;
	background-color: rgb(243, 243, 243);
}
 .add-book{
	 text-align: center;
 } 

.bookIndex{
	margin: auto;
}

.comTextarea{
	width: 80%;
}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	margin: auto;
	top: 0;
	 /* Full width */
	height: 0%; /* Full height */
	 overflow: auto; /*Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .pageContainer{
	  background-color: white;
	  text-align: center;
	  border: 1px solid grey;
	  margin-bottom: 7px;
	  padding-bottom: 2px;
  }
  .main{
	  
  }
  .bookPages{text-align: center;;}
  .commentBox{
	border-left: 1px solid grey;
	  text-align: left;
	  
  }
  .pageCommentIndex{
	background-color:#e3e5e8;
	width: 99%;
	height: 100%;
	min-height: 93px;
	border: 2px dotted grey;
	margin: auto;
}
  .PageCommentBox{
	  padding-top: 4px;
	  background-color: rgb(190, 183, 183);
	  width:100%;
	  height: 100%;
	  min-height: 100px;
  }
  .settingsForm{
	  padding: 5%;
	  margin: 30px auto;
	  width: 700px;
	  height: 500px;
	  background-color: #f0f0f0;
	  flex-direction: column;
	  
  }
  
  .container{
	  background-color:#bfbfbf;
	  width: 100%;
	  
  }
  .app{
	background-color:#ededed;
	height: 100%;
	overflow:scroll;
  }
  html{
	background-color:#ededed
  }
  .start-btn{
	padding: 10px;
	padding-top: 5px ;
  }
  .ed{background-color: red;

display: inline-block}
.profilePic{

	width: 500px;
	height: auto;
	border: 2px solid
}
/* .editor{
	margin-left: 30%;
background-color: red;}
  Modal Content/Box */
 
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
  .PageMain{
	  float: left;
  }
  
/* .pages{display: inline-block;
	align-items: center;} */
.page .jodit-toolbar__box{
	display: none;
}
.pageMain{
	overflow: scroll;
	margin-left: 10px;
}


  .streetLib{
	  height: 575px;
	  overflow: scroll;
	  background-color: pink;
	  width: 600px;
	  margin: auto;
  }
  
  .streetLib .list-group{
	  margin: 10px;
	  height: 550px;
  } 
  .libIndexBox{
	  width: 300px;
  }

  .test{
	  position: relative;
	  float: right;
	  margin: 10px; 
	  width: 40px;
    height: 60px;
    background-image: radial-gradient(circle, black 5px, transparent 6px);
    background-size: 100% 33.33%;
	}
	.z4{
		z-index:5 ;
		color:black;
	}
	.popUp-box{
		z-index: 3;
		position: relative;
float: right;
color: black;
border: 1px solid gray;
border-radius: 5%;
background-color: white;
width: 300px;
height: 200px;

	}
	.popUp{
		float: right;
		background-color: white;
		position: absolute
	}
  .localLibMain .index{
	  margin: 20px auto 20px 10%;
  }
  .lib-list-item{
	
	  color: black;
  }
  .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  /* .overLayer{
	  position: absolute
  } */
  .lib-list .list-group-item{
	  height: 80px;
	  overflow: scroll;
	  width: 350px;
	  

  }
.localLibMain{
	height: 1000px;
	background-color: blue;
	width: 800px;
	margin: auto;
	;
}


.street .list-group-item{
	width: 300px;
	height: 75px;
}
.profilePic{background-color: white;
	width: 80px;
height: 80px;}


.pageMain{
padding-top: 40px}

.idBox{
	border: 2px solid blue;
	margin: 20px;
	width: 370px;
	height: 600px;
}


.followBtn{
	background-color: #243dca;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	border-radius: 10px;
	margin: 20px 30px;
	cursor: pointer;
  }
.grey{
	background-color: #bfbfbf!important
}
  .red{
	  background-color: #db2a3c;
	  color: white;
  }
  .editBtn button{
	  margin: 2px;
  }
  .editBookBtn button{
	  margin: 4px;
	  
  }
  .editBookBtn{
	padding: 10px;
  }
  .aBtn{
-webkit-appearance: button;
		-moz-appearance: button;
		appearance: button;
	
		text-decoration: none;
		color: initial;
  }
  .blue{background-color: #5BC0EB;
color: white}
.green{
	background-color: #96de95;
	color: white;
}
.light-green{
	background-color: #96de95;
}
.yellow{
	background-color: yellow;
	color: green;
}
.profile-buttons{
	width: 300px;
	display: flex;
	flex-wrap: wrap;
	
}

.pink{background-color: #c37c7c;
color: white;}

  .button{
	  border: 1px solid black;
	  text-align: center;
	box-sizing: border-box;
	padding: 7px 8px;
	font-size: 18px;
	margin: 5px 7px;
	border-radius: 5px;
  }
  .followingBtn{
	  margin-left: 18px;
  }
  .followedBtn{ 
	/*   */
}
.SearchBookAdd{height: 40px;}
.bookTitle{
	margin: 10px 20px;
}

.idCard .btnBox{
	margin: 10px;
}
.btnBox {
	display: flex;
	flex-wrap: wrap;
}

.pink{
	background-color: #ffb5b5
}
.libName{
	margin: 30px 50px;
	/* margin: 20px auto 20px 35%; */
}
.bookContainer{display: flex;}
.pcmainBook{
	margin: 10px;
}
/* .pagesOfBook{
	width: 800px;
	margin: auto;
	margin-top: 20px;
	background-color: pink;
} */
.pages .emptyMessage{
	background-color:white;
	height: 600px;
	width: 500px;
	padding: 220px;
	
}
/* .pages{
	background-color:#d7dbd7;
	width: 700px;
	height: 700px;
} */

@media only screen and (max-width: 600px){
	.libContainer{
		display: flex;
		flex-direction: column;
	}
	.profileContainer{display: flex;
flex-direction: column;
	}
	.profile{
		background-color: #1a1818;
	color: white;
	padding: 20px;
	width: 100%;
	height: 500px;
	border-radius: 1%;;
	}
	.idCard{padding: 10px;
		
		 width: 100%;
		height: auto;
		max-height: 500px;
		overflow: scroll;
	background-color: black;
	color: white;
	}
}
.profileContainer{display: flex;
	
	
	margin-top: 20px;}
	@media only screen and (min-width: 600px){
		.libContainer{
			display: flex;
			
		}
		.idCard{
			padding: 10px;
			margin: 20px 10px;
			 width: 300px;
			height: auto;
			max-height: 500px;
			overflow: scroll;
			background-color: black;
			color: white;
			border-radius: 10px;}
		.profile{
			background-color: #1a1818;
			color: white;
			margin-left: 20px;
			padding: 20px;
			width: 300px;
			height: 500px;
			border-radius: 1%;
	}}
.right{width: 20%}
/* .pages{justify-content: center;
align-items:center;
display: flex;
flex-direction: column;}
.page{
 
	margin: auto;
	text-align: center;
}  */
.draftPage{
		display: inline-block;
		margin: auto;
		text-align: center;
}
*{
	font-family:  Helvetica, sans-serif;
	box-sizing: border-box;
}
.bio-textarea{
	width: 300px;
}

.lib-index{
	width: 600px;
	padding: 30px;
}
.streetLib .list-group-item{
	width: 98%;
}
.streetLib .list-group{
	margin-top: 20px;
	padding: 2px;
}
.streetLib{
	margin-top: 4%;
}
.LibraryIndex{
	width: 99%;
	height: 97%;
	min-height: 300px;
	background-color: rgb(185, 185, 212);
	border: 1px solid grey;
	margin: 5px auto ;
	border-radius:5%;
}
.LibraryIndex .list-group-item{
	margin: auto;
	width:100%;
	border-radius: 10%;
}
.LibraryIndex .emptyMessage{
	padding: 20px;

}

.bookIndexBox{
	margin: auto;
	width: 400px;
	height: 100px;
}




.toolbar {
			border:solid 1px #ddd;
			background:#f4f4f4;
			padding: 5px;
			border-radius:3px;
		}
		.Navbar-search{
			position: relative;

		}
.searchForm{
	position: relative;
}
*{
	font-family: Verdana, Geneva, Tahoma, sans-serif
}

.startForm{
	font-size: 20px;
	text-align: left;
	color: black;
	padding:10px
}

.bio{
	width: 100px;
}
.search-index{position: absolute;

}
.search-index .search-item{
	margin-right: 40px;
	width: 192px;
}
.search-form{
display:  inline-flex;
}	
/* .search-btn{
	float: right;
} */
.search-bar{
	position: fixed;
}
.bookPop {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
.navbar {
	padding: 1em 2em 1em 2em;
	background-color: red;
}
.all-content {
	margin-top: 2em;
}
.profile-pic {
	width: 7.5em;
	border-radius: 8%;
}
.following-buttons {
	padding-left: 1.6em;
	padding-right: 1.6em;
}
.following-list {
	padding-top: 1em;
	padding-left: .5em;
}
#pageCommentBox{padding-top: 20px;
padding-bottom: 20px;
border: 1px solid #888}
  /* Modal Content */
  .bookPopContent {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }
  
  /* The Close Button */
  .bookPopClose {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
.bContainer{
	position: absolute;
	border-top: rgba(255, 250, 240, 0.932);
	border-bottom: rgba(255, 250, 240, 0.932);
	
	right: 20%;
	height: 200px;
	width: 200px;
}

.navbar-light{
	color: white;
}
.active{
	text-decoration: underline;
}

.SignUpForm{
	margin: 20% auto;
	width: 300px;
}
.LogInForm{
	margin: 25% auto;
	width: 300px;
}