

.list-group-item{
	position: absolute;
	padding: 30px;
	width: 172px;
	height: 40px;
}
.list-group{
	position: relative;
	overflow:hidden; 
	overflow-y:scroll;
}
#Navbar{
	position: relative
}

/* .scroll{
	position:relative;
	max-height:225px;  /*height to show an exact number of spans  - in this case span is 45px (40 height plus 5 margin as margins collapse) and we are showing 5 spans to start */
	/* float:left;
	width:315px;
	height:225px;
	overflow:hidden;
	overflow-y:auto; */
  
  /* .pagesHome{
	position:absolute;
	
  } */
  /* #pages {
	min-width:500px;
	min-height:500px;
	display:block;
	color:white;
	margin:5px;
  } */
  /* @keyframes scroll {
	  100% { top: -360px; }  top is the number of spans (in this case 8) multiplied by span height (45px as described above) */
.scroll{align-self: center;}
.signbtns{
	margin-top: 100px;
	text-align: center;
}
.Navbar-search{
	position: absolute;
	left: 60%;
}

#SHomeContainer{
	height: 200px;
}

.BookContainer{
	margin-top: 400px;
	text-align: center;
	margin: auto;
}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	margin: auto;
	top: 0;
	padding: 100px;
	width: 85%; /* Full width */
	height: 0%; /* Full height */
	 overflow: auto; /*Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .bookPages{text-align: center;;}
  .modalInfo{text-align: left}
  .PageCommentBox{
	  text-align: left;
  }
  .start-btn{
	padding: 10px;
	padding-top: 5px ;
  }
  .ed{background-color: red;
margin: auto;
display: inline-block;
max-width: 78%;}
/* .editor{
	margin-left: 30%;
background-color: red;}
  Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 60%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
  .PageMain{
	  float: left;
  }
  
/* .pages{display: inline-block;
	align-items: center;} */
.page .jodit-toolbar__box{
	display: none;
}

.followBtn{
	background-color: #243dca;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }
.followedBtn{ 
		border: none;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		background-color: white; 
		color: black; 
		border: 2px solid #008CBA
}
.profileContainer{display: flex;
margin-top: 20px;}
.pageMain{margin-top: 30px;
padding-top: 40px}
.left{width:20%;
float: left;}
.profile{
	width: 300px;
	height: 400px;
	border: 2px solid blue;
	}
.right{width: 20%}
.pages{justify-content: center;
align-items:center;
display: flex;
flex-direction: column;}
.page{
	display: inline-block;
	margin: auto;
	text-align: center;
}
.draftPage{
		display: inline-block;
		margin: auto;
		text-align: center;
}

.index{
	margin-left: 50%;
}


.toolbar {
			border:solid 1px #ddd;
			background:#f4f4f4;
			padding: 5px;
			border-radius:3px;
        }
.searchForm{
	position:relative
}
.bookPop {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
.navbar {
	padding: 1em 2em 1em 2em;
	background-color: red;
}
.all-content {
	margin-top: 2em;
}
.profile-pic {
	width: 7.5em;
	border-radius: 8%;
}
.following-buttons {
	padding-left: 1.6em;
	padding-right: 1.6em;
}
.following-list {
	padding-top: 1em;
	padding-left: .5em;
}
#pageCommentBox{padding-top: 20px;
padding-bottom: 20px;
border: 1px solid #888}
  /* Modal Content */
  .bookPopContent {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }
  
  /* The Close Button */
  .bookPopClose {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
.bContainer{
	position: absolute;
	border-top: rgba(255, 250, 240, 0.932);
	border-bottom: rgba(255, 250, 240, 0.932);
	
	right: 20%;
	height: 200px;
	width: 200px;
}

.page{
	height: 864px;
	width: 816px;
	margin: auto;
	box-shadow: 10px;
}
.navbar-light{
	color: white;
}
.active{
	text-decoration: underline;
}

.SignUpForm{
	margin: auto;
}
.LogInForm{
	margin: auto;
}