

.list-group-item{
	position: absolute;
	min-height: 100px;

}
.likeBtns{
	user-select: none;
}
.book-index .list-group-item{
	margin: auto;
}
.list-group{
	position: relative; 
	overflow-y:scroll;
}
#main{
	margin: auto 20px;
}
.searchedUsers .list-group{
	position: absolute;
	z-index: 1;
}


.bookAccessors .list-group{
	width: 400px;
}
#Navbar{
	position: relative
}


/* .scroll{
	position:relative;
	max-height:225px;  /*height to show an exact number of spans  - in this case span is 45px (40 height plus 5 margin as margins collapse) and we are showing 5 spans to start */
	/* float:left;
	width:315px;
	height:225px;
	overflow:hidden;
	overflow-y:auto; */
  
  /* .pagesHome{
	position:absolute;
	
  } */
  /* #pages {
	min-width:500px;
	min-height:500px;
	display:block;
	color:white;
	margin:5px;
  } */
  /* @keyframes scroll {
	  100% { top: -360px; }  top is the number of spans (in this case 8) multiplied by span height (45px as described above) */
.scroll{align-self: center;}
.signbtns{
	background-color: white;
width: 200px;
height: 150px;
padding:10px;
border-radius: 10%;
	text-align: center;
}
.signbtns .btn{

}


#SHomeContainer{
	height: 200px;
}


.comment{

	padding-left: 8px;
	padding-bottom: 1px;
	padding-top: 7px;
	color: black;
	width: 96%;
	border-bottom: 1px solid grey;
	text-align: left;
	
}

.book-index{
	padding: 30px;
	width: 550px;
	
}
.violet{
	background-color: #dfa1dd;
	color: white;
}


.modal .modalContent{
	margin: auto;
}
.pageHeader{

	display: flex;
	justify-content: space-between;
}
.pageHeader div{
	margin: 0px 10px
}
.commentSection{

	margin-top: 5px;
	background-color: rgb(243, 243, 243);
}
 .add-book{
	 text-align: center;
 } 

.bookIndex{
	margin: auto;
}

.comTextarea{
	width: 80%;
}
.modal {
	
	display: none; /* Hidden by default *//* Stay in place */
	z-index: 1; /* Sit on top */
	margin: auto;
	top: 0;

	 /* Full width */
	min-height: 700px; /* Full height */ /*Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

.modal body{z-index: 1;}
  #main .list-group{
	  width: 98%
  }
  

  .commentBox{
	border-left: 1px solid grey;
	  text-align: left;
	  
  }
  a{font-family: 'Lato', sans-serif;;
	font-weight: 500;}
  .pageCommentIndex{
	background-color:#e3e5e8;
	width: 99%;
	height: 100%;
	min-height: 93px;
	border: 2px dotted grey;
	margin: auto;
}
  .PageCommentBox{
	  padding-top: 4px;
	  background-color: rgb(190, 183, 183);
	  width:100%;
	  height: 100%;
	  min-height: 100px;
  }
  .settingsForm{
	  padding: 5%;
	  margin: 30px auto;
	  width: 700px;
	  height: 500px;
	  background-color: #f0f0f0;
	  flex-direction: column;
	  
  }
  
  .container{
	  background-color:#bfbfbf;
	  width: 100%;
	  
  }

  .updateLibrary form{
	  margin: 7px;
  }
  .updateLibrary .list-group{
	  width: 400px;
	  margin: auto;
	  
  }
  .updateLibrary textarea{
	  width: 90%;
	  
  }
  /* .updateLibrary .lib-group-item{
	  
  } */
  
/* #sidebarCollapse span:first-of-type {
    /* rotate first one */
   /* transform: rotate(45deg) translate(2px, 2px);
/*  
#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
	/* opacity: 0;}
	 */
	 #sidebarCollapse span:first-of-type,
		#sidebarCollapse span:nth-of-type(2),
		#sidebarCollapse span:last-of-type {
			transform: none;
			opacity: 1;
			margin: 5px auto;
		}
#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}
/* #sidebarCollapse span:last-of-type {
    /* rotate third one */
 /*   transform: rotate(-45deg) translate(1px, -1px);
} */
#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px; 
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #434C47;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#sidebar.active {
    margin-left: -250px;
    /* transform:  translateX(120px)Rotate sidebar vertically by 100 degrees. */
}
/* rotateY(100deg); */
#sidebar .sidebar-header {
    padding: 20px;
    background: #434C47;
}
#sidebar ul.components {
    padding: 20px 0;
    
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}
.rose{
	background-color: #FF0F80;
	color: white;
}
.mountain{
	background-color: #09BC8A;
	color:white;
}
.purpleNavy{
	background-color: #40476D;
	color: white;
}
.blueJean{
	background-color: #48ACF0;
	color: white;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #000000;
    background: rgb(161, 168, 165);
}

#sidebar ul li.active {
    color: #858AE3;
    background: #434C47;
}
  .modalContent .jodit-container{
	  margin: 10px auto;
  }
  .commentSection .comTextarea{
	  margin: auto;
  }
  .flex{display: flex;}
  .flex-direction-column{flex-direction: column;}
  .flex-direction-row{flex-direction: row;}
  .updateLibrary input{
	width: 200px;
  }
  .profileCardNames{margin-left: 1vw;}
  /* #c1d3f5 */
  
  .app{
	background: radial-gradient(#c5b8e0, #a37018);
	 display:flex;
	font-family: 'Lato', sans-serif;
	align-items: stretch;
	perspective: 1500px; 
	
  }
  /* #sidebar.active {
    margin-left: -250px;
} */
a[data-toggle="collapse"] {
    position: relative;
}

 #sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
#sidebar a {color: white}
  #sidebar{
	min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
  }
  #sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
  .signbtns .modalContent{
	  margin-top: 10%;
	  width: 500px;
	  height: 400px;
  }
  html{
	background-color:#ededed
  }

  .book-index .list-group-item{
	  width: 400px;
  }
  .start-btn{
	padding: 10px;
	padding-top: 5px ;
  }

.profilePic{

	width:400px;
	height: auto;
	border: 2px solid
}
.editForm{
	margin: auto;
	max-width: 300px;
	display: inline;
	padding: 30px;
}
.editForm form{
	max-width: 400px;
	margin: auto;
}
/* .editor{
	margin-left: 30%;
background-color: red;}
  Modal Content/Box */
 
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
  .PageMain{
	  float: left;
  }
  
/* .pages{display: inline-block;
	align-items: center;} */
.page .jodit-toolbar__box{
	display: none;
}
.editor .jodit-toolbar__box{
	display: block;
}


  .streetLib{
	  height: auto;
	  overflow: scroll;
	  background-color: pink;
	  width: 600px;
	  margin: auto;
  }
  
  .streetLib .list-group{
	  margin: 10px;
	  height: 550px;
  } 
  .libIndexBox{
	  width: 300px;
  }

  .test{
	  position: relative;
	  float: right;
	  margin: 10px; 
	  width: 40px;
    height: 60px;
    background-image: radial-gradient(circle, black 5px, transparent 6px);
    background-size: 100% 33.33%;
	}
	.z4{
		z-index:5 ;
		color:black;
	}
	.SearchContent{
		width: 500px;
	}
	.popUp-box{
		z-index: 3;
		position: relative;
float: right;
color: black;
border: 1px solid gray;
border-radius: 5%;
background-color: white;
width: 300px;
height: 200px;

	}
	.popUp{
		float: right;
		background-color: white;
		position: absolute
	}
  .localLibMain .index{
	  margin: 20px auto 20px 10%;
  }
  .lib-list-item{
	
	  color: black;
  }
  .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  


  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }


  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  /* .overLayer{
	  position: absolute
  } */
  .lib-list .list-group-item{
	  height: 80px;
	  overflow: scroll;
	  width: 350px;
	  

  }



.street .list-group-item{
	width: 300px;
	height: 75px;
}
.profilePic{background-color: white;
	width: 80px;
height: 80px;}




.idBox{
	border: 2px solid blue;
	margin: 20px;
	width: 370px;
	height: 600px;
}


.page .fr-toolbar {display: none}
.page .fr-second-toolbar{display: none;}
.followBtn{
	background-color: #243dca;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	border-radius: 10px;
	margin: 20px 30px;
	cursor: pointer;
  }
  /* .popover__title {
	font-size: 24px;
	line-height: 36px;
	text-decoration: none;
	color: rgb(228, 68, 68);
	text-align: center;
	padding: 15px 0;
  } */
  
  .popover__wrapper {
	position: relative;
	display: inline-block;
  }
  .popover__content {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: -150px;
	transform: translate(30px, 10px);
	background-color: #e6e6e6;
	padding: 1rem;
	/* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); */
	width: auto;
  }
  .popover__content:before {
	position: absolute;
	z-index: -1;
	content: "";
	right: calc(50% - 10px);
	top: -8px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #bfbfbf transparent;
	transition-duration: 0.3s;
	transition-property: transform;
  }
  .popover__wrapper:hover .popover__content {
	z-index: 10;
	opacity: 1;
	visibility: visible;
	transform: translate(0,-100);
	transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  .popover__message {
	text-align: center;
  }
  
.grey{
	background-color: #bfbfbf!important
}
  .red{
	  background-color: #8A2B2B;
	  color: white;
  }
  .editBtn button{
	  margin: 2px;
  }
  .editBookBtn button{
	  margin: 4px;
	  
  }
  .editBookBtn{
	padding: 10px;
  }
  .aBtn{
-webkit-appearance: button;
		-moz-appearance: button;
		appearance: button;
	
		text-decoration: none;
		color: initial;
  }
  .blue{background-color: #5BC0EB;
color: white}
.green{
	background-color: #96de95;
	color:black;
}
.light-green{
	background-color: #96de95;
}
.yellow{
	background-color: #FFDB70;
	color: black;
}
.profile-buttons{
	width: 300px;
	display: flex;
	flex-wrap: wrap;
	
}
.aqua{
	background-color: #AFFDFD;
}
.coral{
	background-color: #F17374;
}
.pink{background-color: #ffafcc;
color: white;}
.ab0560{
	background-color: #ab0560;
}
  .button{
	  font-weight:bold;
	  text-align: center;
	box-sizing: border-box;
	padding: 7px 8px;
	font-size: 18px;
	margin: 5px 7px;
	height: 50px;
	border-radius: 5px;

  }
  .followingBtn{
	  margin-left: 18px;
  }
  .followedBtn{ 
	/*   */
}
.pageBtns{
	display: flex;
	justify-content: center;
}
.SearchBookAdd{height: 40px;}
.bookTitle{
	margin: 10px 20px;
}
#PublicLibraryMain{
	position: fixed;

}
#idCardHeader{display: flex;
justify-content: flex-end;}
.idCard .btnBox{
	margin: 10px;
}
.sharing{width: 400px;
margin: 15px auto;
align-content: center;}
.searchUsersShare .list-group-item{
	display: flex;
	justify-content: space-between;
}
.invert{
filter: invert(70%)
}
.searchUsersShare{width: 400px;
align-content: center;}
.btnBox {
	display: flex;
	flex-wrap: wrap;
}

.pink{
	background-color: #ffb5b5
}
.libName{
	margin: 30px 50px;
	/* margin: 20px auto 20px 35%; */
}

.pcmainBook{
	margin: 10px;
}
/* .pagesOfBook{
	width: 800px;
	margin: auto;
	margin-top: 20px;
	background-color: pink;
} */
.pages .emptyMessage{
	background-color:white;
	height: 600px;
	width: 500px;
	padding: 220px;
	
}
/* .pages{
	background-color:#d7dbd7;
	width: 700px;
	height: 700px;
} */


@media only screen and (max-width: 768px)
and (min-device-width : 375px) {
	#FormContainer{
		display: flex;
		flex-direction: column;
	}
	.libContainer{
		display: flex;
		flex-direction: column;
	}


		/* Reversing the behavior of the sidebar: 
		   it'll be rotated vertically and off canvas by default, 
		   collapsing in on toggle button click with removal of 
		   the vertical rotation.   */
		#sidebar {
			margin-left: -250px;
			transform: rotateY(100deg);
		}
		#sidebar.active {
			margin-left: 0;
			transform: none;
		}
	
		/* Reversing the behavior of the bars: 
		   Removing the rotation from the first,
		   last bars and reappear the second bar on default state, 
		   and giving them a vertical margin */
		#sidebarCollapse span:first-of-type,
		#sidebarCollapse span:nth-of-type(2),
		#sidebarCollapse span:last-of-type {
			transform: none;
			opacity: 1;
			margin: 5px auto;
		}
	
		/* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
		
		#sidebarCollapse {
			
			position: relative;
		  width: 40px;
		  height: 40px;
		  background: #f5f5f5;
	  }
	  .modalContent {
		/* overflow: scroll; */
		background-color:#fefefe;
		margin: 5% auto;
	overflow-y: scroll;
		border-radius: 5px;
		 /* 15% from the top and centered */
		height: 600px;
		color: black;
		max-width: 800px;
		border: 1px solid #888; 
		/* Could be more or less, depending on screen size */
	}

	.profileContainer{display: flex;
flex-direction: column;
	}
	.bookContainer{display: flex;
	flex-direction: column;}
	.profile{
		/* background-color: #1a1818; */
	color: white;
	padding: 20px;
	width: 100%;
	height: 500px;
	border-radius: 1%;;
	}
	.pagesOfBook{
	  
		text-align: center;
		border-radius: 3%;
		margin-bottom: 7px;
		padding-bottom: 2px;
		min-height:300px;
		min-width:40vw;
  
	}
	.idCard{padding: 10px;
		
		 width: 100%;
		height: auto;
		max-height: 500px;
		overflow: scroll;

	color: white;
	}
}


	@media only screen and (min-width: 900px){
		#FormContainer{
			display: flex;
		}
		.homeContainer .pages{
			margin-left: 10em;
		}
		
		.modalContent {
			/* overflow: scroll; */
			background-color:rgb(0,0,0,0);
			margin: 5% auto;
		overflow-y: scroll;
			border-radius: 5px;
			 /* 15% from the top and centered */
			height: 600px;
			color: black;
			max-width: 800px;
			border: 1px solid #888; 
			/* Could be more or less, depending on screen size */
		}
		#sidebarCollapse {

			
		  width: 40px;
		  height: 40px;
		  background: #f5f5f5;
	  }
		.homeContainer .main{
			margin:auto;
		}
		.flex{
			display: flex;
		}
		.profileContainer{display: flex;
			margin-top: 20px;
	
		}
		
		.homeContainer{
			display:flex;
		margin-top:20px;
		justify-content: space-around;
		}
		.LibraryContainer{
			display: flex;
		}
		.BookContainer{
			margin-top: 10px;
			text-align: center;
			margin: auto;
		}
		.book{width: 800px;}
		.idCard{
			padding: 10px;
			margin: 0px 10px;
			 width: 300px;
			height: auto;
			max-height: 500px;
			overflow: scroll;
			color: white;
			border-radius: 10px;}
		
		.localLibMain{
			margin: auto;
			width: 700px
		}
		/* 900 min */
		.pages{
			overflow: auto;
			background-color: rgb(223, 223, 223);
			min-height: 296px;
			box-shadow: 5px 5px grey;
			width: 702px;
			

		}
		.pageMain{margin-left:30px}
		.profile{
			
			
			
			margin-left: 20px;
			padding: 20px;
			width: 300px;
			height: 500px;
			border-radius: 1%;
	}
	.bookContainer{
		display: flex;
		margin-top: 10px;
	}


	}
	@media only screen and (max-width: 900px){
		.pages{background-color: rgb(223, 223, 223);
			min-height: 296px;
			box-shadow: 5px 5px grey;
		
		}
		
		.bookContainer{display: flex;
			flex-direction: column;}
		.idCard{padding: 10px;
		
			width: 100%;
		   height: auto;
		   max-height: 500px;
		   overflow: scroll;
	   color: white;
	   }
		.profileContainer{display: flex;
			flex-direction: column;
				}
		.localLibMain{
			width: 701px;
			margin: auto;
		}
		.localLibMain .pages{
			width: 701px;
			margin: auto;
		}
			.pagesOfBook{
	  
				text-align: center;
		
				border-radius: 3%;
				margin-bottom: 7px;
				padding-bottom: 2px;
				min-height:300px;
				min-width:600px;
		  
			}
		.libContainer{
			margin-top: 10px;
			display: flex;
			
		}
		
		.draftsContainer{

		}
		.drafts{
			width: 700px;
			margin: auto;
			display: flex;
			flex-direction: column;
			text-align: center;
		}
		
		.draftPages{
			
		}
		.bookContainer{display: flex;}
		.idCard{
			padding: 10px;
			height: inherit;
			min-height: 300px;
			overflow: scroll;
			color: white;
			}
		
		.profile{
			/* background-color: #1a1818; */
			color: white;
			padding: 20px;
			height: 500px;
			
	}
}
.right{width: 20%}
/* .pages{justify-content: center;
align-items:center;
display: flex;
flex-direction: column;}
.page{
 
	margin: auto;
	text-align: center;
}  */
.modalContent .draftPage{
	margin: 20px 10px;
}
.tara{
	background-color: #D1F0DD;
}
.draftPageBtns{
	display: flex;
	justify-content: space-evenly;
}
.linkWater{
	background-color: #D1D5F0;
}
.draftPageBtns button{
	border-color: white;
	padding: 4px 20px;
	border-radius: 9%;
	font-size: 16;
}
.green{
	background-color: #baeda8;
}
.illusion{
	background-color: #F7ABE5;
}
.rajah{
	background-color: #f5b669;
}
.portage{
	background-color:#7B91EA;
}
*{
	box-sizing: border-box;
}
.bio-textarea{
	width: 300px;
}

.lib-index{
	width: 600px;
	padding: 30px;
}
.streetLib .list-group-item{
	width: 98%;
}
.streetLib .list-group{
	margin-top: 20px;
	padding: 2px;
}
.streetLib{
	margin-top: 4%;
}
.LibraryIndex{
	width: 99%;
	height: 97%;
	min-height: 300px;
	background-color: rgb(185, 185, 212);
	border: 1px solid grey;
	margin: 5px auto ;
	border-radius:5%;
}
.LibraryIndex .list-group-item{
	margin-bottom: 5px;
	width:100%;;
}
.LibraryIndex .emptyMessage{
	padding: 20px;

}






.toolbar {
			border:solid 1px #ddd;
			background:#f4f4f4;
			padding: 5px;
			border-radius:3px;
		}
		.Navbar-search{
			position: relative;

		}
.searchForm{
	position: relative;
}


.startForm{
	font-size: 20px;
	text-align: left;
	color: black;
	padding:10px
}

.bio{
	width: 100px;
}
.search-index{position: absolute;

}
.search-index .search-item{
	margin-right: 40px;
	width: 192px;
}
.search-form{
display:  inline-flex;
}	
/* .search-btn{
	float: right;
} */
.search-bar{
	position: fixed;
}
.noPages{
	width:200px;
	margin : auto auto;
}
.bookPop {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
.navbar {
	padding: 1em 2em 1em 2em;
	background-color: red;
}
.all-content {
	margin-top: 2em;
}
.profile-pic {
	width: 7.5em;
	border-radius: 8%;
}
.following-buttons {
	padding-left: 1.6em;
	padding-right: 1.6em;
}
.following-list {
	padding-top: 1em;
	padding-left: .5em;
}
#pageCommentBox{padding-top: 20px;
padding-bottom: 20px;
border: 1px solid #888}
  /* Modal Content */
  .bookPopContent {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }
  
  /* The Close Button */
  .bookPopClose {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
.bContainer{
	position: absolute;
	border-top: rgba(255, 250, 240, 0.932);
	border-bottom: rgba(255, 250, 240, 0.932);
	
	right: 20%;
	height: 200px;
	width: 200px;
}

.navbar-light{
	color: white;
}


.SignUpForm{
	margin: 15% 50px;
	width: 300px;
}
.SignUpForm form{
	margin: 40px;
}
.LogInForm form{
	margin: 40px;
}
.LogInForm{
	margin: 15% 100px 100px;
	width: 300px;
}